<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.batteryStatus" version="1.0.0" xmlns="https://www.nasserjeary.com" xmlns:gap="https://www.nasserjeary.com">
    <name>batteryStatus</name>
    <description>
       Battery Status mini App
    </description>
    <author email="support@phonegap.com" href="https://www.nasserjeary.com">
        Web/Mobile Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
